body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/375px-Image_created_with_a_mobile_phone.png");
    /*background-repeat: no-repeat;*/
    background-color: transparent;
    background-size: 100%;
    font-size: 1.2rem;
    font-family: 'Chivo Mono', sans-serif;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    text-align: center;
}

h1{
    font-family: Chivo Mono, sans-serif;
    font-weight: 100;
    color: deeppink;
}

h2{
    color: cornflowerblue;
}
h2.cv{
    color: azure;
}

p,li {
    color: greenyellow;
    font-size: 1.3rem;
    line-height: 1.5
}

a{
    color: white;
}

img{
    height: 150px;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}