body {
    background-image: url("https://media.istockphoto.com/id/1199496434/video/4k-abstract-particle-wave-bokeh-background-blue-water-snow-beautiful-glitter-loop.jpg?b=1&s=640x640&k=20&c=AH0I-VWz8KvbD7_2tnqpSPrc8Epx6PyWS-XPwa8JJ8o=");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    font-size: 1.2rem;
    font-family: Chivo Mono, sans-serif;
    font-weight: normal;
    margin-right: 1em;
    margin-left: 1em;
    max-width: 600px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: Chivo Mono, sans-serif;
    font-weight: 700;
    color: deeppink;
}

h2 {
    color: yellow;
}

h2.cv {
    color: azure;
}

p, li {
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    color: white;
}

ul {
    padding: 0;
}
